* {
    font-size: 16px;
  
}


.inputC {
    color: #0e0f0f;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 14px;
    margin-left: 20%;
    margin-right: 5px;
    background: #ffffffd6;
    width: 32%;
    border-top: solid 4px rgb(24, 189, 211);
    border-bottom: solid 4px rgb(24, 189, 211);
    border-left: none;
    border-right: none;
    padding-left: 7px;
    padding-top: 0px;
}

.tabla div h1 {
    color: black !important;
}

.tabla div p {
    color: black !important;
}
.colum1 button { 

    border: solid white 1px;
    background: rgb(38, 10, 51);
    color: white;
}


.colum7 button { 

   
    background: rgb(38, 10, 51);
    color: white;
}

.colum4 button { 

     margin-top: .25px;
    background: rgb(38, 10, 51);
    color: white;
    
}

.colum7 select { 


    text-align: center;
    background: rgba(103, 86, 110, 0.54);
    color: white;
}



.tabla {
    margin-top: 15px;
    display: grid;
    width: 85%;
    margin-left: 7.5%;
    grid-template-columns: 20%  20%  20%  20% 20% ;
    grid-template-rows: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
        
}

.tabla div h1 {
    font-size: 25px;
    color: white;
    text-align: center;
}


.colum1 {
 border: solid white 1px;
display: grid;
grid-template-columns: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.colum1 button { 

   
    background: rgb(38, 10, 51);
    color: white;
}



.colum2 {


display: grid;
color: white;
height: 100% !important;
margin-left: 7px;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.colum2 p {
    border: solid white 1.5px !important;
    text-align: center;
    height: 24.1px !important;
    margin: 1px;
    background: rgba(255, 255, 255, 0.379);
    overflow: hidden;

}



.colum6 { display: grid;
grid-template-columns: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.colum6 p {
    text-align: center;
    color: white;
    height: 100%;
    margin: 1px;
    background: rgba(255, 255, 255, 0.379);
    border: solid white 1.5px !important;
  
}

.colum3 { 
    
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .colum3 p {
        border: solid white 1.5px !important;
        text-align: center;
        color: white;
        height: 100%;
        margin: 1px;
        background: rgba(255, 255, 255, 0.379);
       
    }


    .colum4 { display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 15%;
        }
        


        .colum4 p {
            text-align: center;
            color: white;
            height: 100%;
            margin: 1px;
            background: rgba(255, 255, 255, 0.379);
           
        }


        .colum5 { display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .colum5 p {
                text-align: center;
                color: white;
                height: 100%;
                margin: 1px;
                background: rgba(255, 255, 255, 0.379);
              
            }

            
        .colum7 { display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .colum7 p {
                text-align: center;
                color: white;
                height: 100%;
                margin: 1px;
                background: rgba(255, 255, 255, 0.379);
             
            }

            .colum7 h1 { 
                font-size: 22.5px !important;
                height: 46px;
            }


            .colum5 input {

             height: 24.4px;
             margin-left: 9px;


            }