










.btikets {
    
    display: flex;
    justify-content: center;
    width: 100%;
  



}


.btikets div {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 3fr repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: #40376D;
    height: 100%;
    padding: 60px;
}

.btikets div label {
    
   
  display: block;
}













.inputC {
    color: #0e0f0f;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 75px;
    display: block;
    background: #ffffffd6;
    width: 700px;
    border-top: solid 4px #87ffD5;
    border-bottom:solid 4px #87ffD5 ;
    border-left: none ;
    border-right: none;
    padding-left: 7px;
    padding-top: 0px;
    
    }
    
    
    .inputD {
        display: block;
        margin-left: 25px;
        margin-bottom: 3px;
        color: rgb(249, 254, 251);
        font-size: 17px;
        border-bottom: solid rgb(97, 99, 98) 3px;
        height: auto;
        width: 450px;  
    }
    
    
    .inputE {
    display: block;
    font-size: 17px;
    margin-left: 3px;
    }
    
    .inputF {
        margin-top: 20px;
        display: block;
        font-size: 17px;
        position: relative;
        left: 400px;
        width: 150px;
        bottom: 30px;
        background: #0fd3da;
        color: white;
        border: none;
        }
        

        .BotInicio {
            display: block;
            color: #40376D;
            font-size: 30px;
            height: 30px;
            width: 250px;
            height: 50px;
            margin-top: 45px;
            border: solid black 1px;
            background: rgba(175, 102, 235, 0.126); 
            margin-left: 26px; }

    .alertCC {

        width: 15px;
        height: 15px;
    }

    .descarga1 {
        display: inline-block;
        background: rgb(217 203 203 / 46%);
        color: rgb(255 255 255);
        font-size: 22px;

    }

    .BotInicio {
        background: #87ffD5;
    }

  