

.error {
   display: none;
    color: rgb(0 237 255);
    text-align: center;
    font-size: 21px;
}


.iniciar {
    width: 500px;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 10%;
    background: #40376d;
    padding: 35px;

}



.publi1 {

    width: 500px;
    display: inline-block;
    height: 50%;
    opacity: 0.6;
    transition: opacity 0.75s;
    margin-left: 20%;
    margin-top: 5%;
  
  
  }
  
  
  
  .publi1:hover {
    opacity: 1; 
  
  
  }
  
  
  
  
  .BotInicio {
      display: inline-block;
      color: white;
      height: 30px;
      width: 250px;
      border: none;
      background: rgba(38, 14, 172, 0.254);
    font-size: 17px;  }
  
      .BotInicio:hover {
        box-shadow: 5px 5px 5px #fcfcfc; /* sombra al pasar el mouse */
    }
  
    #Error {
      color: white;
      font-size: 22px !important;
    }
     
  
    
  
  
  
  
  .progress {
      background: rgba(255,255,255,0.1);
      justify-content: flex-start;
      border-radius: 100px;
      align-items: center;
      position: relative;
      padding: 0 5px;
      display: none;
      height: 40px;
      width: 500px;
  
    }
    
    .progress-value {
      animation: load 3s normal forwards;
      box-shadow: 0 10px 40px -10px rgb(51, 217, 246);
      border-radius: 100px;
      background: rgba(36, 45, 222, 0.515);
      height: 30px;
      width: 0;
    }
  
    .iniciar p {
      font-size: 30px !important;
      color: rgb(41, 11, 58);
  
  
    }
    
    @keyframes load {
      0% { width: 0; }
      100% { width: 68%; }
    }
  
  
  
  
  
      .registrarse {
  
  
        font-size: 60px;
        
        }
        
        body {

          background-image: url(img/imagen_fondo.jpg);
          background-size: cover;
          background-size: 100% auto;


        }
        
        .inputC {
        color: #0e0f0f;
        font-size: 17px;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 75px;
        display: inline-block;
        background: #ffffffd6;
        width: 380px;
        border-top: solid 4px #87ffd5 ;
        border-bottom:solid 4px #87ffd5  ;
        border-left: none ;
        border-right: none;
        padding-left: 7px;
        
        }
        
        
        .inputD {
            display: block;
            margin-left: 25px;
            margin-bottom: 3px;
            color: rgb(255, 252, 252);
            font-size: 17px;
            border-bottom: solid #87ffd5 3px;
            height: auto;
            width: 
            290px;  
        }
        
        
        .inputE {
        display: inline-block;
        font-size: 17px;
        margin-left: 3px;
        }
        
        .inputF {
            margin-top: 20px;
            display: block;
            font-size: 17px;
            position: relative;
            left: 400px;
            width: 150px;
            bottom: 30px;
            background: #0fd3da;
            color: white;
            border: none;
            }
            
        
        
        
        .loginPrincipal {
          margin: 35px;
         display: inline-block;
          padding: 15px;
        background-image: linear-gradient(rgba(249, 249, 249, 0.283), rgba(92, 85, 97, 0.216)), url(icon/log.jpg);
        background-position: center;
        width: 600px ;
        border-radius: 4px;
        position: relative;
        bottom: 24%;
        left: 10%;
      
        
        }
  
        .loginPrincipal:hover {
          box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.368); /* sombra blanca cuando el cursor está sobre el elemento */
        }
        
        .info {
        display: grid;
        color: white;
        background: #a711d8fb;
        padding: 20px;
        justify-content: center;
        width: 600px ;
        border-radius: 4px;
        margin-top: 40px;  
        
        }
        
        .no {
        
            width: 25px;
            height: 25px;
            display: none;
        }
        
        
        
        
        
        .parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
        
        
            .info img {
        
                display: inline-block;
               
                margin-right: 10px;
            }
        
            .alerta p {   
        
                    color: rgb(237, 134, 134);
                    font-size: 25px;
                    display: none;
                      height:20px ;
                      text-shadow: 2px  0px 0px rgb(254, 252, 252),
                      0px  2px 0px rgb(255, 255, 255),
                    
                   
        
            }
            
        
            .okey {  height: 120px;
                    font-size: 40px;
                 color: #0fd3da; }
  
      
  
        .pasos {
            margin-left: 35px;
            background-color: #68176fa5;
  
  
        }
        
        .pasos h1 {
  
          text-align: center;
        }
        
  
        .rescodigo {
            position: fixed;
            left: -4px;
  
        }
  
  
        @media only screen and (min-width: 850px) {
  
          .gridInicio {
            margin-top: 20%;
            display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 80%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;    
          
          }
  
          .publi1 {
  
            width: 80%;
            display: inline-block;
            margin-left: 10%;
            margin-top: -5%;
            height: 80%;
            opacity: 1;
          
          
          }
        }
  
  
  
          @media only screen and (min-width: 1300px) {
  
            .gridInicio {
              margin-top: 10%;
              display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;    
            
            }
    
            .publi1 {
    
              width: 80%;
              display: inline-block;
              margin-left: 10%;
              margin-top: -10%;
              height: 80%;
              opacity: 1;
            
            
            }
       
          
          
          
          
          }
  
          @media only screen and (min-width: 1500px) {
  
            .loginPrincipal {
  
              width: 85%;
              height: 65%;
            }
  
            .publi1 {
              margin-top: -12%;
            }
           }
  
  
           @media only screen and (min-width: 2100px) {
  
            .loginPrincipal {
  
              width: 85%;
              height: 50%;
            }
  
            .publi1 {
              margin-top: -13%;
            }
           }



           /* Estilo para el fondo oscuro detrás de la ventana emergente */


           /* Estilos generales para la ventana emergente */
#popup {
  display: none;
  width: 800px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  position: fixed;
  z-index: 2;
}

/* Estilos para el fondo oscuro cuando se muestra la ventana emergente */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

